

.sidebar{
  background-color: #efefef;
  height: 100vh;
  padding: 40px;
}

/* Mobile */
@media (min-width: 100px){
  .sidebar{
    display:none;
  } 
  .main-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .navbar-toggler {
    display: block;
  }
}

/* Desktop */
@media (min-width: 700px){
  .sidebar{
    display: block;
  } 
  .main-container{
    display: grid;
    grid-template-columns: 2fr 9fr;
    grid-gap: 30px;
  }
  .navbar-toggler {
    display: none;
  }
  .img-container{
    width: 20%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px;
  }
  
}

.each-nav-item:hover {
  cursor: pointer;
  font-weight: bold;
}

.jumbotron {
  text-align: center;
  margin: 0;
}