.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 50px;
  }

  .card-title, .card-text{
    color: black;
}

  /* Image on details Page */
  .img-container {
      display: grid;
      grid-template-columns: 4fr;
      margin: 50px;
  }

/* Details page */
  .details {
      display: grid;
      grid-template-columns: 1fr;
      margin: 50px;
      align-content: left;
  }